<launch>
    <!-- Start empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Load URDF/XACRO into robot_description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find duckiebot_description)/urdf/duckiebot.urdf.xacro"/>

    <!-- Spawn Duckiebot -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-param robot_description -urdf -model duckiebot -x 0 -y 0 -z 0.2"/>

    <!-- Load controllers -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner"
          args="joint_state_controller diff_drive_controller"/>

    <!-- Teleop node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/>
</launch>
