# Catkin / ROS build folders
build/
devel/
install/
build_isolated/
devel_isolated/
install_isolated/

# Catkin workspace files
.CatkinWorkspace
*.catkin_workspace

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other common temp / log files
*.log
*.swp
*.bak
*.pyc
